* {
  margin: 0;
  padding: 0;
}
.box {
  width: 200px;
  height: 200px;
  background-color: #ccc;
  border: 1px solid red;
}

.innerBox {
  margin: 50px;
  width: 100px;
  height: 100px;
  background-color: rgb(167, 69, 69);
  padding: 1px;
}

.row {
  display: flex;
}
